
NET "digit[3]" LOC = "K14";
NET "digit[2]" LOC = "K15";
NET "digit[1]" LOC = "J15";
NET "digit[0]" LOC = "J14";

NET "clk" LOC = "B8";
NET "rst_n" LOC = "H13";

NET "in[3]" LOC = "R17";
NET "in[2]" LOC = "N17";
NET "in[1]" LOC = "L13";
NET "in[0]" LOC = "L14";
NET "in_addr[1]" LOC = "K17";
NET "in_addr[0]" LOC = "K18";
NET "re_addr[1]" LOC = "H18";
NET "re_addr[0]" LOC = "G18";
NET "en" LOC = "E18";
#Created by Constraints Editor (xc3s500e-fg320-5) - 2016/11/04
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 20 ns HIGH 50%;
